<server description="Sample Liberty server">

    <featureManager>
        <feature>websocket-1.1</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
        id="defaultHttpEndpoint" />

    <webApplication location="guide-websocket.war">
    </webApplication>

</server>
